body{
    background-color: #fafaf8;
    color: #00274C;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
}

h1{
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
}

header{
    grid-column: 2/span 2;
    grid-row: 1/span 1;
}

h2{
    font-size: x-large;
    color: #000000;
    font-family: sans-serif;
}

main{
    grid-column: 2/span 2;
    grid-row: 2/span 1;
}

.img{
    grid-column: 2/span 2;
    height: auto;
}

footer{
    grid-column: 2/span 2;
    grid-row: 4/span 1;
}

.skip{
    color:#00274C;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
}
  
.skip:focus {
    transform: translateY(0%);
    border: 5px solid #000000
}

nav li{
    font-size: 120%;
}

nav li:focus{
    border: 5px solid #000000;
}

nav li:hover{
    border: 5px solid #000000
}

a:focus-visible{
    border: 5px solid #000000
}


  