body{
    background-color: #CFC096;
    color: #00274C;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
}

h1{
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
}

header{
    grid-column: 2/span 2;
    grid-row: 1/span 1;
}

h2{
    font-size: x-large;
    color: #000000;
    font-family: sans-serif;
}

main{
    grid-column: 2/span 2;
    grid-row: 2/span 1;
}

image{
    grid-column: 2/span 2;
}

footer{
    grid-column: 1/span 4;
    grid-row: 4/span 1;
    background-color: #ffffff;
}

footer a{
    text-decoration: underline;
    color: #000000;
}

.skip{
    color:#00274C;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
}
  
.skip:focus {
    transform: translateY(0%);
    border: 5px solid #000000
}

nav li{
    font-size: 120%;
    text-decoration-color: #000000;
}

nav li:hover{
    border: 2px solid #00274C;
    background-color: #ffffff;
}

.active {
    background-color: #ffffff;
    color: #00274C;
}

form {
    background-color: #00274C; 
    padding: 20px;
    max-width: 400px;
    margin: auto;
    color: white; 
    grid-column: 2/span 2;
    grid-row: 2/span 2;
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input[type="text"], input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
input[type="submit"] {
    background-color: #FFCB05; 
    color: #00274C; 
    padding: 10px;
    width: 100%;
}

@media screen and (min-width: 900px){
    body{
        background-color: #ffffff;
        color: #00274C;
        display: grid;
        grid-template-columns: 1fr 8fr 8fr 1fr;
    }

    h1{
        font-size: x-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
        text-align: center;
    }

    h2{
        font-size: large;
        color: #000000;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    }

    footer{
        grid-column: 1/span 4;
        grid-row: 4/span 1;
        background-color: #CFC096;
    }
    
    footer a{
        text-decoration: underline;
        color: #00274C;
    }
}